@import 'layout/_grid.scss';
@import 'layout/_nav.scss';
@import 'layout/_main.scss';
@import 'layout/_about.scss';
@import 'layout/_project.scss';
@import 'layout/_skills.scss';
@import 'layout/_contact.scss';
@import 'layout/_footer.scss';