* {
    margin:0;
}


/*layout*/

body {
    font-family: 'Inter';
}

header {
    min-height: 92vh;
    background-image: url('../../images/Backdrop.png');
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.8);
}


footer{
    background-color: crimson;
}