.HomeName {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //background-color: #0D1321;
    min-height: 100vh;
}

.HomeName h1 {
    color: white;
    font-family: 'Lucida Sans';
    font-size: 10vh; 
}

.HomeName h1 span{
    color: rgb(255, 255, 0);
    font-family: 'Lucida Sans';
    font-size: 10vh; 
    text-shadow: 2px 2px 2px #0000;
}


.HomeName h3 {
    color: white;
}

.HomeName a {
    background-color: rgb(15, 10, 10);
    border: 0.1em solid rgba(238, 255, 0, 0.6);
    color: white;
    width: 250px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    margin-top: 1em;
    text-decoration: none;
    font-weight: 100;
}