nav {
    position:fixed;
    height: 10vh;
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    gap: 5em;
}

/*.navigation {
    display: flex;
    flex-direction: row;
    padding: 0;
    justify-content: center;
    align-items: center;
    gap: 5em;
    flex-grow: 1;
} */

.nav-list {
    display: flex;
    list-style: none;
    gap: 5em;
    padding: 0;
}

nav a {
    color: white;
    text-decoration: none;
    font-family: 'Lucida Sans';
    font-size: 1vw;
}


.Logo {
    width: 30px;
    height: 30px;
}

.socialIcons{
    display: flex;
    flex-direction: row;
    gap: 1.5em;
    margin-right: 1em;
}

.socialIcons i {
    color: white;
    font-size: 1.5vw;
}