.project-section {
    background-color: #0D1321;
}

.project-container {
    display: flex;
    justify-content: center;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    grid-template-rows: auto 1fr auto;
    gap: 10px;
    align-items: center;
    padding:1% 1%
}

.project-card {
    display: flex;
    flex-direction: column;
    box-shadow: 10px 10px 20px 10px rgba(0, 0, 0, 0.406);
    background-color: rgb(26, 26, 36);
    width: 100%;
    max-width: 325px;
    height: 450px;
    border-radius: 2em;
    font-family: 'Inter';
    border: 0.1em solid rgb(197, 162, 62);
    overflow: hidden;
}

.project-content-padding {
    padding: 0 4px 4px 4px;
}


.project-card img {
    height: 150px;
    width: 100%;
    object-fit: cover;
    border-radius: 2em 2em 0em 0em;
    margin-bottom: 0.7em;
}

.project-section h1 {
    text-align: center;
    color: white;
    margin-bottom: 0.5em;
    font-size: 64px;
}

.project-grid li {
    list-style: none;
}

.project-type {
    color: aqua;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.9em;
}

.project-title {
    font-size: 1.5em;
    color: white;
}

.tools-used {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 0.3em;
    white-space: nowrap;
    flex-wrap: wrap;
}

.tools-used p {
    font-weight: bold;
    border-radius: 5%;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    text-transform: uppercase;
}

.ul {
    margin: 0;
    padding: 0;
}

.project-text {
    color: white;
}

.project-html {
    background-color: red;
}

.project-js {
    background-color: orange;
}

.project-php {
    background-color: blue;
}

.project-sql {
    background-color: greenyellow;
}

.project-docker {
    background-color: brown;
}

.project-python {
    background-color: yellow;
}

.project-git {
    background-color: rgb(149, 32, 149);
}

.project-matlib {
    background-color:aqua ;
}

.project-tensorflow {
    background-color: chocolate;
}

.project-xampp {
    background-color: mintcream;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.read-button {
    border-radius: 20%;
}