.skills-format {
    list-style: none;
    align-items: center;
    min-width: 250px;
}

.skills-section h1 {
    text-align: center;
    margin-bottom: 1em;
    color: white;
}

.skills-format ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.skills-format img {
    height: 50px;
    width: 50px;
    object-fit: contain;
}

.skills-format p {
    font-family: 'Inter';
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}

.skills-format li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 1em;
}

.skills-grid {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.skills-format h2 {
    text-align: center;
    color: white;
}

.skills-section {
    background-color: #0D1321;
}